body {
    font-family: sans-serif;
    background: white;
    color: #000000;
    padding: 0;
    margin: 0;
}

.outerContainer {
    padding: 0;
    margin: 0;
}

#story {
    height: 100vh;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 0;
}

#storylets {
    width: 30%;
    float: left;
}

.storylet {
    text-align: center;
    align-items: center;
    line-height: 1.7em;
    border: 2px solid #555;
    margin: 5px;
}

.storylet a {
    font-size: 12pt;
}

.storylet .desc {
    font-size: 11px;
}